*{
    margin: 0px;
    padding: 0px;

}
.main
{
    display: flex;
    
}
.left
{
    width: 20%;
    height: 648px;
    background-color: burlywood;
    float: left;
  
}

.right
{
    width: 80%; 
    height: 648px;
    background-color: rgb(110, 80, 61);
}
.navbar
{
    width: 80%;
    height: 25px;
    margin: auto;
    margin-top: 30px;
    
    background-color:rgb(242, 239, 239 ,0.5) ;
    border-radius: 30px;
    padding: 5px 10px;
}
.list  li
{
color: white;
    display: inline;
    justify-content: space-between;
    padding: 15px;
    
}
.down_right
 {/*background-color: blueviolet; */
   
    margin: 100px 100px;
    color: white;
}
.down_right h3{
color:rgb(245, 245, 245,0.7);
}
